@model Clean.Architecture.Web.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Guestbook Project";
}
<h2>Guestbook: @Model.GuestbookName</h2>
<h3>Messages:</h3>
<ol>
    @if (!Model.PreviousEntries.Any())
    {
        <li class="zero">  
            <h5>No Messages</h5>
        </li>
    }
    @foreach (var entry in Model.PreviousEntries.OrderByDescending(p => p.DateTimeCreated))
    {
        <li class="arrow">
            <h5>@entry.EmailAddress - @entry.DateTimeCreated</h5>
            @entry.Message
        </li>
    }
</ol>
